version: "3"
services:
  coturn:
    image: "coturn/coturn"
    restart: unless-stopped
    ports:
      - "3478:3478/udp" # STUN/TURN UDP
      - "3478:3478/tcp" # STUN/TURN TCP
      - "3479:3479/udp" # STUN/TURN UDP Alt port (RFC5780 support)
      - "3479:3479/tcp" # STUN/TURN TCP Alt port (RFC5780 support)
      - "5349:5349/udp" # STUN/TURN DTLS
      - "5349:5349/tcp" # STUN/TURN TLS
      - "5350:5350/udp" # STUN/TURN DTLS Alt port (RFC5780 support)
      - "5350:5350/tcp" # STUN/TURN TLS Alt port (RFC5780 support)
      - "49152:65535/udp" # UDP media ports for TURN relay
    volumes:
      - ${DATA_DIR}/coturn/turnserver.conf:/etc/coturn/turnserver.conf
  
  minio:
    image: "quay.io/minio/minio"
    restart: unless-stopped
    environment:
      MINIO_ACCESS_KEY: "minio"
      MINIO_SECRET_KEY: "minio1234567#"
    volumes:
      - ${DATA_DIR}/minio/data:/data
    ports:
      - 7001:7001
      - 7002:7002
    command: server -address ":7001" --console-address ":7002" /data  
    privileged: true

  db:
    image: "mariadb:10.6.15"
    volumes:
      - /etc/localtime:/etc/localtime
      - ./mariadb/initdb.d:/docker-entrypoint-initdb.d
      - ${DATA_DIR}/mariadb/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "okstar"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin" , "-h", "localhost","-uroot", "-pokstar", "ping"]  
      timeout: 20s
      retries: 20
      interval: 10s

  apacheds:
    build:
      context: ./apacheds
    ports:
      - "10389:10389"
    restart: unless-stopped
    healthcheck:  
      test: ["CMD", "nc", "-zv", "localhost", "10389"]  
      interval: 10s  
      timeout: 5s  
      retries: 3

  keycloak:
    build:
      context: ./keycloak
    environment:
      - KC_DB=mariadb
      - KC_DB_USERNAME=root
      - KC_DB_PASSWORD=okstar
      - KC_DB_URL=jdbc:mariadb://db/keycloak?autoReconnect=true&useUnicode=true&characterEncoding=utf8
      - KC_HOSTNAME_STRICT=false
      - KC_PROXY=edge
      - KC_PROXY_ADDRESS_FORWARDING=true
      - KC_PROXY_HEADERS=xforwarded
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
      - KC_HTTP_ENABLED=true
      - KC_HTTP_PORT=8080
      - KC_HTTPS_PORT=8443
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=okstar
      - KEYCLOAK_SAME_SITE_COOKIES=true
    volumes:
      - /etc/localtime:/etc/localtime
    ports:
      - 8080:8080
      - 8443:8443
    restart: unless-stopped
    depends_on:
      - db
      - apacheds
    healthcheck:  
      test: ["CMD", "curl", "-f", "http://localhost:9000/health/live"]  
      interval: 10s  
      timeout: 10s
      retries: 10  

  ok-openfire:
    build:
      context: ./openfire
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/ok-openfire:/home/openfire
      - ${DATA_DIR}/ok-openfire/logs:/var/log/openfire
    ports:
      - 5222:5222
      - 9090:9090
      - 7443:7443
      - 4443:4443
      - 8180:8180
      - 10000:10000
    depends_on:
      - db
      - apacheds

  ok-stack:
    image: "registry.cn-shenzhen.aliyuncs.com/okstarorg/${VERSION}"
    restart: unless-stopped
    ports:
      - 1080:80

    volumes:
      - ${DATA_DIR}/ok-stack/logs:/home/okstar/ok-stack-backend/logs
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - db
      - apacheds
      - keycloak
